body{
	margin: 0 15px;
}

span.upvotes{
	padding: 3px 5px;
	border-radius: 100%;
	background-color: lightsteelblue;
	float: left;
	width: 26px;
	text-align: center;
}

span.vote{
	float: left;
	margin: 5px;
}

span.article{
	font-size: 20px;
	margin-left: 10px;
}

form.postArticle{
	margin-top: 30px;
}